extends ../../layout

block pageTitle
  title Twitter連携 | Open nnnChecker
  script function confirmTweetAlert() { const isOK = confirm("このアカウントのユーザーがN高生であることが、Open nnnCheckerを通してツイートされます。\n本当によろしいですか？"); if(isOK) { window.location.href = "./tweet"; } }

block content
  p.overview アカウント連携に成功しました！

  ul.proofAccountList
    li.accountArea
      p 
        span 学校のGoogleアカウント:
        br
        span(style="font-weight: bold;") #{email}

    li(style="font-size: xxx-large; font-size: -webkit-xxx-large; width: 200px;")
      span(style="color: red;") X

    li.accountArea
      img(src=`${twitterImage}`, alt="Twitterのプロフィール写真")
      div
        span(style="font-weight: bold;") #{twitterName}
        br
        span @#{twitterScreenName}
    
  ul.proofAccountList
    li.proofAccountLoginLink(style="background-color: rgb(29,161,242);")
      a(href="javascript:confirmTweetAlert()" style="color: #FFF") Open nnnChecker経由で証明をツイート

  p.overview
    a(href="../../home").importantLink ホーム
    br
    a(href="../../logout").importantLink ログアウト
